* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--c-secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c-primary {
  color: var(--c-primary);
}

.c-secondary {
  color: var(--c-secondary);
}

.c-white {
  color: #fff;
}

.bg-primary {
  background-color: var(--c-primary);
}

.bg-secondary {
  background-color: var(--c-secondary);
}

.bg-white {
  background-color: #fff;
}

input {
  border: 1px solid var(--c-secondary);
  font-size: 1rem;
  padding: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
}

button {
  background-color: var(--c-primary);
  color: #fff;
  border: none;
  outline: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

:root {
  --c-background: #f6f6f6;
  --c-primary: #e96e50;
  --c-secondary: #505050;
}